.body{
  margin: 0;
  padding: 0;
  width: 1200px;

  font-family: 'PT Sans', Arial, sans-serif;
/* эта часть из Барбершопа
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;*/
  text-transform: uppercase;

 /* background-color: #000000; */
  background-image: url('temp/sedona-hotels-1200.jpg');
  background-position: top center;
  background-repeat: no-repeat;
}

.main{
  margin: 0;
  padding: 0;
  width: 1200px;

  
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}






