body{
  margin: 0;
  padding: 0;
  width: 1200px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  /* background-color: #f2f2f2 */

  /* Временно для сетки 
  background-image: url('../temp/sedona-index-1200.jpg');
  background-size: 1280px auto;
  background-repeat: no-repeat;*/

}

main{
  text-align: center;
 }

a{
  text-decoration: none;
  color: inherit;
}


.main-header{
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;

  margin-bottom: 56px;
  background-color: transparent;
}

.main-header-logo{
  width: 138px;
  height: 70px;
}

.site-navigation,
.features-list,
.recommendations-list,
.footer-social ul{
list-style: none;
}

.site-navigation{
  display: flex;  
  justify-content: space-around;
}



.main-navigation a{ 
  color: #000000;
}
.main-navigation a:hover{
 color: #81b3d2 
}
.main-navigation a:active {
  color: rgba(0,0,0,0.3)
} /* opacity 30% */



.intro{
  display: flex;
  min-height: 510px;
  background-image: url("../img/background-photo.jpg");
  background-size:  auto;
  background-position: top left;
  background-repeat: no-repeat;   
}

.intro img{
  margin:  auto ;  /* выравнивание по центру, потом спозиционировать */
  
}

.features h1{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
    
  background-color: #ffffff;
}
.features p{
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
    
  background-color: #ffffff;
}

.feature-item h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.feature-item p{
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
}
.feature-item-blue {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}
/* почему .feature-item-blue p не голубое? */
.feature-item-grey {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #eeeeee;
}


.recommendations-item{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff; 
}


.hotels-select b{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.hotels-select p{
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
}

.hotels-select-form{
  box-shadow: 0 0 15px 7px rgba(0,1,1,0.15);
  width: 586px;
  height: 395px;
  margin-left: 310px;
  background-color: #ffffff;
}

.hotels-select-text{
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.hotels-select-form input[type="text"],
.hotels-select-form input[type="number"] {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}
.hotels-select-form input[type="text"]:hover{
  color: #000000;
  background-color: #ebebeb;
}
.hotels-select-form input[type="text"]:focus{
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.hotels-select-form input[type="number"]:hover{
  background-color: #ffffff
  /* меняем картинки при разных состояниях? */
}


.form-open-button{
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700; 
  color: #ffffff;
  background-color: #766357;
  border: none;
  width: 586px;
  height: 86px;
}
.form-open-button:hover{
  background-color: #604e43;
}
.form-open-button:active{
  color: rgba(0,0,0,0.3);
  background-color: #503e33;
}

.form-close-button{
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700; 
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 458px;
  height: 58px;
}
.form-close-button:hover{
  background-color: #669ec0; 
}
.form-close-button:active{
  color: rgba(0,0,0,0.3); 
  background-color: #5496bd; 
}



.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

/* делаем всё тремя разными вариантами картинок ? */
.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}
.social-button:hover{
  background-color: #669ec0;
}
.social-button:active{
  background-color: #5496bd;
}





.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}






